*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* width: 50%; */
  margin: 0 auto;
  /* border: 1px solid black; */
  padding: 10px;
}

.modal-todo {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 3px;
  height: 350px;
  width: 800px;
  text-align: center;
  padding: 20px 100px 50px;
}

form {
  text-align: left;
  padding-bottom: 80px;
}