.grid_container {
    display: grid;
    grid-template-columns: repeat(7, minmax(75px, 1fr));
    gap: 5px;
}

.grid_img {
    border: 1px solid black;
}

.grid_img img {
    height: 100%;
    width: 100%;
}

.grid_container div:nth-child(2n+1) {
    grid-row: span 2;
}